p{
	color: green;
}

* {
	font-family: "Verdana", monospace;
	font-size: 1rem;
}

h1{
	font-size: 1.5rem;
}

#phrase1{
	text-transform: uppercase;
}

.bgcolor1{
	background-color: lightskyblue;
}

.cborder1{
	border-width: 2px;
	border-style: solid;
	border-color: hotpink;
}

img + ul{
	list-style-type: upper-roman;
}

section img{
	height: 200px;
	border-radius: 50px;
}

ul ~ p{
	text-align: center;
}

body > section > ul{
	letter-spacing: 3px;
}